*{
    margin: 0px;
    padding: 0px;
}
.clearfix{
    clear: both;
}

.fotoPersona{
    width: calc(100%-60%);
    height: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    margin: 15px 45px;
}

body{
    background-color: rgb(250, 238, 209)    ;
}

header div{
    float: left;
    margin: 0px 12px;
    border-radius: 10px;
}

#title{
    border-right: 1px solid black;
    padding-right: 30px;
}

header{
    background-color: rgb(96, 114, 116);
    height: 75px;
    line-height: 75px;
    width: 100%;
    box-shadow: 0px 2px 10px black;    
    
}

#content1{
    background-color: rgb(178, 165, 155);
    padding: 10px;
    margin: 45px 45px 0px 45px;
    text-align: center;
    height: 40px;
    box-shadow: 0px 0px 7px black;
}

#teamDesc ol li{
    margin-top: 20px;
    float: left;
    list-style: none;
}

#teamDesc{
    margin: 15px 15px;
}

#content2{
    background-color: rgb(222, 208, 182);
    padding: 10px;
    margin: 45px 45px 0px 45px;
    text-align: center;
    height: auto;
    box-shadow: 0px 0px 7px black;
}

.fotoDF{
    height: 369.9px;
    width: 1098px;
    box-shadow: 0px 0px 7px black;
}

.dataset{
    width: calc(100%-60%);
    margin-bottom: 70px;
}

#smote{
    width: 80%;
    height: 80%;
}

.content2parr{
    margin: 15px 0px;
}

.title_desc{
    text-align: center;
    margin-bottom: 35px;
}

.descripcion{
    text-align: left;
}

.parrafoDesc p{
    width: 100%;
    height: auto;
    margin: 20px 0px 15px 20px;
    width: 95%;
    
}

#content3{
    background-color: rgb(222, 208, 182);
    padding: 10px;
    margin: 45px 45px 0px 45px;
    text-align: center;
    height: auto;
    box-shadow: 0px 0px 7px black;
}

#content4{
    background-color: rgb(222, 208, 182);
    padding: 10px;
    margin: 45px 45px 0px 45px;
    text-align: center;
    height: auto;
    box-shadow: 0px 0px 7px black;
}

.lista{
    padding-left: 50px;
}

.item_lista{
    margin: 20px 0px;
}